<div class="sidebar">
  <a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
  <a routerLink="/agents" routerLinkActive="active"><i class="fas fa-users"></i> Agentes</a>
  <a routerLink="/financial-operations" routerLinkActive="active"><i class="fas fa-coins"></i> Operaciones</a>
  <a routerLink="/products" routerLinkActive="active"><i class="fas fa-cheese"></i> Productos</a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
